body {
  background-color: #ffe6cc;
}

h1{
  font-family: Verdana, sans-serif;
}

h3{
  float:left;
  clear:left;
  color: black
}

img {
  height: 300px;
  width: 550px;
}

.topnav {
  background-color: #bf8040;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition-property: background-color, color;
  transition-duration:0.3s;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.one {
 float: left;
 clear: left;
}

.one a {
 float: left;
}

.two {
 float: right;
 clear: right;
}

.two a {
 float: right;
 clear: right;
 margin-top: 20px;
}

.three {
 float: left;
 clear: left;
}

.three a {
 float: left;
 margin-top: 20px;
}

.four {
 float: right;
 clear: right;
}

.four a {
 float: right;
 clear: right;
 margin-top: 20px;
}

.one a:link, .two a:link, .three a:link, .four a:link {
color:white;
background-color: #bf8040;
text-decoration: none;
border: solid black 1px;
padding: 1px;
transition-property: background-color, color;
transition-duration:0.3s;
transition-delay:0.2s;
}

.one a:hover, .two a:hover, .three a:hover, .four a:hover {
color:black;
background-color: white;
text-decoration: none;
border: solid black 1px;
padding: 1px;
}

.one a:active, .two a:active, .three a:active, .four a:active {
color:white;
background-color: lightblue;
text-decoration: none;
border: solid black 1px;
padding: 1px;
}

.one a:visited, .two a:visited, .three a:visited, .four a:visited {
color:white;
text-decoration: none;
border: solid black 1px;
padding: 1px;
}

.one a:visited:hover, .two a:visited:hover, .three a:visited:hover, .four a:visited:hover {
color:black;
text-decoration: none;
border: solid black 1px;
padding: 1px;
}

.quiz-text {
position:absolute;
top: 1000px;
}

.quiz-container {
position:absolute;
top: 1050px;
}
