img {
  height: 300px;
  width: 550px;
}

.topnav {
  background-color: #bf8040;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition-property: background-color, color;
  transition-duration:0.3s;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.sprite {
  width: 169px;
  height: 181px;
  background: url(images/arrow.png) -61px -75px;
  animation: arrow 1s steps(5) infinite;
 }
 @keyframes arrow{
 from{background-position-x:-61px;}
 to{background-position-x:-964px;}
}
